


<div class="row align-center mb-5">
    <div class ="col-md-6">
        {{#each foods}}
            <a href={{id}}> <p class="text-green-400">{{name}}</p></a>
        {{/each}}
    </div>
</div>





